<div *ngIf="!messages">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="messages">
  <div class="row">
    <div class="column">

    </div>
    <div class="column">
      <img alt="Angular Logo" src="http://www.codebug.org.uk/assets/steps/540/image_1.png">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h2>Total messages: {{message?.length}}</h2>
      <h4 *ngFor="let message of messages">{{message.time | date:'d MMMM, yyyy'}} -
        {{convertMessage(message.message)}}</h4>
    </div>
  </div>
</div>